* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #08001f, #30197d);
  color: #fff;
  position: relative;
}
.stylingContainer {
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stopwatch {
  width: 100%;
  height: 100%;
  background: rgba(235, 0, 255, 0.11);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
}
.stylingContainer::before {
  content: "";
  width: 180px;
  height: 180px;
  background: #f41b75;
  border-radius: 5px;
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: -1;
}
.stylingContainer::after {
  content: "";
  width: 180px;
  height: 180px;
  background: #419aff;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  bottom: -50px;
  z-index: -1;
}
.stopwatch span {
  font-size: 70px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.stopwatch::after {
  font-size: 16px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.styling-btn {
  padding: 7px 50px;
  background-color: #419aff;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 25px;
}
.styling-btn:hover {
  background: #30197d;
}
.styling-h1 {
  padding: 200px;
  font-size: 50px;
}
